@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
}
.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(bkgd.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.Topo{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}
.cabeçalho-link a{
    color: #2ecc71;
    font-size: 12px;
}
.logo{
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}
button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
}
.container-text{
    padding: 150px 0 0 175px;
}
.text h3{
    color: #fff;
    font-size: 15px;
}
.text h1{
    color: #fff;
    margin-top: 10px;
}
.text span{
    color: #2ecc71;
}
.text p{
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}
.redes-sociais a{
    color: #2ecc71;
    padding: 5px;
    margin-top: 15px;

}
.container-text button{
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    margin-top: 15px;
    cursor: pointer;
}
@media screen and (max-width: 640px) {
    .Topo{
    max-width: 100%;
    align-items: center;
    padding-top: 1rem;
    }
    .cabeçalho-link {
        display: table-column-group;
        padding-top: 8px;
    }
    .container-text{
        padding: 50px 0 0 25px;
    }
    .text h1{
        font-size: 45px;
    }
}